# --> Server related files

# logs
logs/
server_log.txt
crashinfo.txt

# Ban list
samp.ban


# --> Files/Directories

originalscript/

# Compiled Bytecode, precompiled output and assembly
*.amx
*.lst
*.asm
